.cs-text {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.featured-product {
  font-weight: 300;
  font-size: 9.95556px;
  line-height: 13px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 28px;
  border-radius: 14.2222px;
  background: #ffba79;
  margin-bottom: 24px;
}

.cs-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: #232340;
  margin-bottom: 25px;
}

.icons-container {
  width: 100vw;
  margin-top: 50px;
  display: flex;
}

.pacman {
  width: 30vw;
}

.privacy {
  width: 40vw;
}

.icons-container img {
  margin-bottom: 20px;
}

.icons-container p {
  color: #5468e7;
}

.hero-images {
  height: 60vh;
}

.arrow-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-bottom: 50px;
}

.arrow-container img {
  border: 0px solid #d8d8d8;
  border-radius: 50%;
}

.arrow {
  width: 58px;
  height: 58px;
}

.arrow:hover {
  background: #5468e7;
  transition: 400ms;
}

/*               OVER VIEW                 */

.tablet {
  width: 100vw;
  top: 131px;
  left: 0;
}

.overview-text {
  margin-top: 50px;
  margin-left: 25px;
  width: 80vw;
}

.overview-text p:first-child {
  color: #5468e7;
}

.overview-text h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #232340;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.overview-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #606060;
  margin-bottom: 40px;
}

.overview-text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.card-container {
  margin-top: 80px;
  display: flex;
  align-content: center;
  flex-flow: column wrap;
}

.card {
  margin-bottom: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
  border: 1px solid #d8d8d8;
  border-radius: 32px;
  width: 311px;
  height: 256px;
}

.card p {
  margin-top: 25px;
  text-align: center;
  color: #5468e7;
}

.card img {
  align-self: center;
  width: 92px;
  height: 92px;
}

a:hover {
  position: absolute;
  cursor: pointer;
}

@media screen and (min-width: 720px) and (max-width: 1280px) {
  body {
    height: 110vh;
  }

  .cs-text {
    margin-top: 100px;
    width: 30vw;
  }

  .cs-text p {
    width: 20vw;
  }

  .pacman {
    width: 150px;
  }

  .hero-images {
    position: absolute;
    height: 100px;
  }

  .hero-images .line {
    position: relative;
    top: -690px;
    left: -50px;
  }
  .hero-images .bg {
    top: -490px;
  }

  .hero-images .desktop-img {
    width: 60vw;
    top: -520px;
    left: 250px;
  }

  .arrow-container {
    position: absolute;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1300px) {
  .cs-text{
    margin-left: 50px;
  }
  .cs-text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 131px;
    letter-spacing: -1.2px;
  }

}
