* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.0001) 0%,
    rgba(237, 229, 240, 0.504289) 100%
  );
}

h2 {
  font-style: normal;
  font-weight: 5 00;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: white;
}

.footer-iframe {
  height: 100%;
}

#footer-section {
  margin-top: 200px;
  height: 250vw;
}

.nav-iframe {
  width: 100vw;
  height: 90px;
}

.our-partnerships {
  width: 70vw;
  margin: 30px;
}

p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
  margin-top: 25px;
  font-weight: lighter;
  color: #606060;
}

.our-partnerships p:first-child {
  color: #5468e7;
}

.our-partnerships h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.work-cards {
  margin-top: 20vw;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.card:first-child {
  margin-top: 0;
}

.card {
  margin-top: 230px;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-cards img {
  width: 311px;
  position: absolute;
}

.card-text {
  margin: 30px;
  margin-top: 550px;
}

.card-text h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.card .card-arrow {
  width: 48px;
  height: 48px;
}

.card .card-arrow:hover {
  width: 58px;
  height: 58px;
  transition: 400ms;
}
